@import url('https://fonts.googleapis.com/css2?family=Modak&family=Oswald:wght@200..700&display=swap'); 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.grid-container {
    opacity: 1;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background: linear-gradient(to top left, #000088, #0000ff); 
    z-index: 1;
  }

  .grid-item {
    background: linear-gradient(to top left, #000088, #0000ff); 
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 63px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    color: #FFCC00;
    transition: all .8s;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    text-shadow: 4px 4px #000;
    /*opacity: 0; */
    transition: transform 0.5s;
    /*animation: fadeIn 2s forwards ease-in; */
  }

/*
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
 100% {        
    opacity: 1;
  }
}


div:nth-child(1) {
  animation-delay: 0.2s;
}

div:nth-child(2) {
  animation-delay: 0.4s;
}

div:nth-child(3) {
  animation-delay: 0.6s;
}

div:nth-child(4) {
  animation-delay: 0.8s;
}

div:nth-child(5) {
  animation-delay: 1.0s;
}

div:nth-child(6) {
  animation-delay: 1.2s;
}

div:nth-child(7) {
  animation-delay: 1.4s;
}

div:nth-child(8) {
  animation-delay: 1.6s;
}

div:nth-child(9) {
  animation-delay: 1.8s;
}

div:nth-child(10) {
  animation-delay: 2.0s;
}

div:nth-child(11) {
  animation-delay: 2.2s;
}

div:nth-child(12) {
  animation-delay: 2.4s;
}

div:nth-child(13) {
  animation-delay: 2.6s;
}

div:nth-child(14) {
  animation-delay: 2.8s;
}

div:nth-child(15) {
  animation-delay: 3.0s;
}

div:nth-child(16) {
  animation-delay: 3.2s;
}

div:nth-child(17) {
  animation-delay: 3.4s;
}

div:nth-child(18) {
  animation-delay: 3.6s;
}

div:nth-child(19) {
  animation-delay: 3.8s;
}

div:nth-child(20) {
  animation-delay: 4.0s;
}

div:nth-child(21) {
  animation-delay: 4.2s;
} 

div:nth-child(22) {
  animation-delay: 4.4s;
}

div:nth-child(23) {
  animation-delay: 4.6s;
}

div:nth-child(24) {
  animation-delay: 4.8s;
}

div:nth-child(25) {
  animation-delay: 5.0s;
}

div:nth-child(26) {
  animation-delay: 5.2s;
}

div:nth-child(27) {
  animation-delay: 5.4s;
}

div:nth-child(28) {
  animation-delay: 5.6s;
}

div:nth-child(29) {
  animation-delay: 5.8s;
}

div:nth-child(30) {
  animation-delay: 6.0s;
}

div:nth-child(31) {
  animation-delay: 6.2s;
}

div:nth-child(32) {
  animation-delay: 6.4s;
}

div:nth-child(33) {
  animation-delay: 6.6s;
}

div:nth-child(34) {
  animation-delay: 6.8s;
}

div:nth-child(35) {
  animation-delay: 7.0s;
}

div:nth-child(36) {
  animation-delay: 7.2s;
} */
  .head {
    color: #fff;
    padding: 15px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .score {
    font-size: 30px;
    color: #2479f8e0;
    z-index: 10000;
    position: absolute;
    bottom: 0;
    right: 150px;
  }

  .question {
    display: none;
  } 
  
  .flip {
    transform: rotateY(180deg);
  }

  .fa-arrow-right {
    font-size: 50px;
    position: absolute;
    top: 500px;
    color: #fff;
    transition: transform 1.5s;
  }
  
  .fa-arrow-right:hover {
    color: #f5ce42;
  }

  .fa-x {
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    right: 90px;
    cursor: pointer;
  }
  
  /*
.modalBackDrop {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.91); 
} */


  .modalBackDrop {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.91); 
} 


.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background: linear-gradient(to top left, #000088, #0000ff); 
    padding: 60px 80px;
    box-shadow: 5px 10px 18px #000;
    color: #fff;
    font-size: 70px;
    text-align: center;
    text-shadow: 4px 4px #000,  4px 4px #000,  4px 4px #000,  4px 4px #000;
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: bolder;
    perspective: 1000px; 
    margin: 0px auto; 
    border: 1px solid #888;
    z-index: 100;
  } 


  .modalContent h2 {
    font-size: 100px;
    margin-right: 100px;
  }
  
  .modalContent ul {
    margin-right: 45%;
  }
  
  #submit {
    background-color: rgb(48, 177, 236);
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 5px;
    text-shadow: 1px 1px #000,  1px 1px #000,  1px 1px #000,  1px 1px #000;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  #submit:hover {
    padding: 8px 15px;
  }
  

  /*
  .modalInner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
  } 

  
  .modal:hover, .modalinner {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }  */
  
  
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  backface-visibility: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 20px;
    text-shadow: none;
    z-index: 0;
    transform: rotateY(180deg);
} 


.modalContent {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}



.fa-arrow-right .modalBackDrop {
  transform: rotateY(180deg);
}

ul {
  list-style-type: none;
  padding: 0;
  text-align:  right;
}

ul li {
  font-size: 1.2rem;
}

ul li label {
  cursor: pointer;
}
/*
  input[type=radio] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  } */
 

  span.psw {
      float: right;
      padding-top: 16px;
  }

  .active {
    display: block;
  }

  /*
  .ken {
    display: none;
  } */
  /*
  .ken {
    width: 40%;
    transform: rotate(-0deg);
    position: absolute;
    left: 30%;
    bottom: -100%;
    animation: fly 10s 28s ease-in;
  } */
/*
  .rocket {
    width: 40%;
    transform: rotate(-45deg);
    position: absolute;
    left: 30%;
    bottom: -100%;
    animation: fly 10s 28s ease-in;
} */

  .animate {
    -webkit-animation: animatezoom 1.5s;
    animation: animatezoom 1.5s;
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');